<h1>Showing article details</h1>

<h3>Title: <%= @article.title %></h3>
<p>Description: <%= @article.description %></p>

<p>
<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to 'Return to Article Listing', articles_path %>
</p>